@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #e9fbe8;
  --foreground: #171717;
}

.dark{
  --background: #121212;
  --foreground: #e5e7eb;
}

.underlining-links{
  @apply underline underline-offset-2 decoration-gray-600 transition-all duration-100 hover:decoration-gray-400 dark:hover:text-[#ffffff] cursor-pointer decoration-2;
}

.techstack-appear{
  @apply flex flex-row gap-3 items-center justify-between px-4 py-2 border  border-zinc-700 cursor-pointer transition-all duration-300 hover:-translate-y-1 hover:shadow-md rounded-lg text-sm font-medium tracking-tight;
}

.contact-box{
  @apply w-full py-1 px-2 border dark:border-2 outline-none rounded-lg border-zinc-700 focus:border-zinc-600 font-normal dark:text-gray-200 text-[#000000];
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh; 
  max-width: 42rem; 
  margin-left: auto; 
  margin-right: auto;
  padding-top: 2rem; 
  padding-bottom: 2rem;
  padding-left: 1rem; 
  padding-right: 1rem;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

.blob-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  z-index: 100;
  pointer-events: none;
  transition: width 0.5s ease, height 0.5s ease, background-color 0.4s ease;
}

.blob-animation.animate {
  width: 2500px;
  height: 2500px;
}

