@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #e5e7eb;
  }
} */

.dark{
  --background: #121212;
  --foreground: #e5e7eb;
}

.underlining-links{
  @apply underline underline-offset-2 decoration-gray-600 transition-all duration-200 hover:decoration-gray-400 cursor-pointer decoration-2;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh; /* Ensures the body takes at least the full height of the viewport */
  max-width: 42rem; /* Sets a maximum width for the content inside the body (e.g., 42rem or 672px) */
  margin-left: auto; /* Centers the content horizontally within the max-width */
  margin-right: auto;
  padding-top: 2rem; /* Adds vertical padding (top and bottom) of 3rem (48px) by default */
  padding-bottom: 2rem;
  padding-left: 1rem; /* Adds horizontal padding (left and right) of 1.5rem (24px) */
  padding-right: 1rem;
  -webkit-font-smoothing: antialiased; /* Smooths font rendering for better readability */
  -moz-osx-font-smoothing: grayscale;
}
